# Forbid files from exercism.io
*.md
*test*
*.txt
Makefile

# Haskell object files
*.hi

# Ocaml build files
**ocaml/*/_build
*.mli

# Rust files
*.lock
*.toml
**target

# Python caches
**__pycache__
