### EXERCISM ###

# Forbid files from exercism.io
.version
exercism/**/*.md
exercism/**/test.*
exercism/**/*-test.*
exercism/**/*_test.*
exercism/**/test
exercism/**/tests
exercism/**/.gitignore
exercism/crystal/**/spec
*.txt
Makefile

# Kotlin / Gradle files
exercism/kotlin/*/build
.gradle
build.gradle
.keep

# Haskell object files
*.hi

# Ocaml build files
exercism/ocaml/**/_build
*.mli

# Rust files
*.lock
*.toml
**target

# Python caches
**__pycache__

### CODEEVAL ###

# only ruby scripts
codeeval/ruby/*
!codeeval/ruby/*.rb
